body                                    { background:#000;}
.wrapper                                { margin:0 auto; width:990px; padding:0; overflow:hidden;}
ul                                      { padding-left:1em;}
ul li                                   { background:url(../images/arrow_on.png) no-repeat left 4px; padding-left:15px; list-style:none outside none;}
 
#topBar                                 { background:url(../images/topBar-bg.png) repeat-x; height:31px; line-height:31px; overflow:hidden; color:#fff;  }
#topBar p                               { margin:0; line-height:31px; font-size:1.083em;}
#topBar p.date                          { float:left; margin-right:20px; }
#topBar .fb-like                        { margin-top:2px;}
#topBar p.options                       { float:right; }
#topBar p.options a                     { margin-left:10px; padding-left:10px; color:#fff }
#topBar p.options a:hover               { text-decoration:underline;}

.topAd                                  { margin:1em 0; text-align:center;}
#logo                                   { margin:5px 0; }

.mainNav                                { list-style:none outside none; margin:0; padding:0; line-height:1; background:url(../images/topnav-bg.jpg) repeat-x top ;}
.mainNav li                             { text-align:center; padding:0 10px; height:28px; z-index:30; display:inline-block; border-left: 1px solid #666; position:relative; background:transparent; } 
.mainNav li:first-child                 { border:0 none; }
.mainNav li:hover,
.mainNav li.active                      { background:url(../images/topnav-bg-hover.jpg) repeat-x top center }
.mainNav li a                           { font-weight:bold; color:#fff; text-decoration:none; padding-top:7px; display:block;}
.mainNav li a:hover,
.mainNav li.active a                    { color:#F1690E; }
.mainNav ul                             { height: 28px; max-width: 350px; position: absolute; top: -999em; padding-left:2em; }
.mainNav ul li                          { width: 220px; text-align:left; }
.mainNav li:hover                       { visibility: inherit; }
.mainNav li:hover ul                    { left: -23px; top: 16px; z-index:30; }
.mainNav li li,
.mainNav li li:hover                    { background:url(../images/navItemGradient1x56.gif) repeat-x; }


.maincontent                            { margin:10px 0; }
.maincontent .rtcol                     { width:314px; float:right; margin-left:10px; }
.maincontent .ltcol                     { overflow:hidden; }  
.box                                    { border:1px solid #ccc; padding:1px; background:#4B4B4B; margin-bottom:10px; clear:both;}
.rtcol .box .ads                        { text-align:center; padding:6px; }
.rtcol .box .ads img                    { margin-bottom:0; }
.box .whitewrap                         { margin:3px; border:1px solid #ccc; padding:2px; color:#000 ; background:#fff;}
.box .content                           { padding:15px; }
.box.fullpromo  h3,
.box.halfpromo h3                       { background:url(../images/headerGradient.gif) center repeat-x ; color:#fff; font-size:1.2em; padding:7px;}
.box img                                { max-width:100%; margin-bottom:1em; }
.box.fullpromo .whitewrap,
.box.halfpromo .whitewrap               { margin:0; }
.box.threecols .content                 { width:28%; float:left; }
.box.twocols .content                   { width:45%; float:left; }
.halfpromo.box                          { width:324px; float:left; clear:none; }
.halfpromo.box + .halfpromo.box         { margin-left:10px; } 

.entries-list ul                        { margin:0 0 2em; padding:0; }
.entries-list ul li                     { border-top:1px solid #F1690E; padding: 15px 0 0 0 ; margin:15px 0 0 0;  background:none; }
.entries-list ul li h2                  { font-size:1.333em; }
.entries-list ul li:first-child         { border:0; margin:0;  }
.entries-list ul li .img-wrap           { width:160px;  overflow:hidden; margin-right:10px; float:left; display:none;   }
.entries-list ul li .txt                { overflow:hidden; }
.entries-list ul li p                   { margin-bottom:0.5em; }
.entries-list ul li .img-wrap img       { width:160px; }
.entries-list ul li:nth-child(1) .img-wrap,
.entries-list ul li:nth-child(2) .img-wrap	{ display:block; }
.main-art                               { border:4px solid #F1690E; padding:15px 15px 5px; margin:2em 0 1em; background:#FFFAF0;}
.main-art .img-wrap                     { width:310px; overflow:hidden; margin-right:10px; float:left;  }
.main-art .img-wrap img                 { width:310px; } 



a.btn_01                                { display:inline-block; padding:1px 8px; margin:10px 0; -webkit-border-radius: 3px;
border-radius: 3px;-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;  ;color:#fff; background:#F1690E;}
a.btn_01:hover                          { color:#000;}

/* extra styles for calendar  */
.maincontent .eventsCalendar-daysList li{ background:transparent; padding-left:0;  }
.maincontent #eventCalendarInline ul    { margin:10px 5px; padding-left:0; }
.maincontent #eventCalendarInline ul li { background-image:none; }
.maincontent #eventCalendarInline ul p  { margin-bottom:0; }
.maincontent #eventCalendarInline   .eventsCalendar-loading  { position:static; margin:5px 20px; }
.maincontent .eventsCalendar-list li  span.eventTitle { color:#222; }
.maincontent .eventsCalendar-list li  span.eventTitle:hover { text-decoration:none; }
#eventCalendarInline .explain		{ margin:10px 10px 0; }
#eventCalendarInline .explain span	{ display:inline-block; height:15px; width:15px; margin:0 5px; border:2px solid #ccc; } 
.maincontent .eventsCalendar-daysList li.current a	{ background-color:gray;  box-shadow:none; -webkit-box-shadow:none; text-shadow:none; -webkit-text-shadow:none; }
.maincontent .eventsCalendar-daysList li.dayWithEvents.EVE a	{ background-color:#F0CD51;  box-shadow:5px 5px 10px #EDC331 inset; -webkit-box-shadow:5px 5px 10px #EDC331 inset; text-shadow:2px 2px 2px #Edc331; --webkit-text-shadow:2px 2px 2px #Edc331; }
.maincontent .eventsCalendar-daysList li.dayWithEvents.GAM a	{ background-color:#F53c19;  box-shadow:5px 5px 10px #cf3518 inset; -webkit-box-shadow:5px 5px 10px #cf3518 inset; text-shadow:2px 2px 2px #cf3518; -webkit-text-shadow:2px 2px 2px #cf3518; }
.maincontent .eventsCalendar-daysList li.dayWithEvents.ICE a,
.maincontent .eventsCalendar-daysList li.dayWithEvents.INL a{ background-color:#449fb2;  box-shadow:5px 5px 10px #216b7a inset; -webkit-box-shadow:5px 5px 10px #216b7a inset; text-shadow:2px 2px 2px #216b7a; -webkit-text-shadow:2px 2px 2px #216b7a; }
#eventCalendarInline .explain .EVE	{ background-color:#F0CD51; }
#eventCalendarInline .explain .INL	{ background-color:#89B814; }
#eventCalendarInline .explain .GAM	{ background-color:#F53C19; }
#eventCalendarInline .explain .ICE	{ background-color:#449fb2; }
.maincontent .eventsCalendar-daysList li.current a:hover { background-color:gray; box-shadow:none; -webkit-box-shadow:none; text-shadow:none; -webkit-box-shadow:none; }
.maincontent .eventsCalendar-daysList li.dayWithEvents.EVE a:hover { background-color:#ffe68f; }
.maincontent .eventsCalendar-daysList li.dayWithEvents.GAM a:hover { background-color:#Ee593d; }
.maincontent .eventsCalendar-daysList li.dayWithEvents.ICE a:hover { background-color:#79bdcc; }


form                                    { margin:2em 0; }
form .row                               { margin:0 0 1em; position:relative; }
form label                              { width:120px; display:inline-block; font-weight:bold;text-transform:capitalize; }
form input,
form textarea                           { width:240px; padding:5px 10px; border-radius:3px; border:1px solid #222;  }
form textarea                           { height:150px; font-size:12px;}
form input[type="submit"]               { margin-left:125px; width:auto;  border:medium none; -webkit-border-radius: 3px; border-radius: 3px;-moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;  ;color:#fff; background:#F1690E; margin-top:2em; padding:8px 20px;}  
form input[type="submit"]:hover         { background:#AC4E10 }
form .errorlist				{ color:red; padding:0; margin:0; }
form .errorlist li			{ background:transparent; padding-left:125px;font-style:italic; }
form .with-errors input,
form .with-errors textarea		{ border-color:red; }

#footer                                 { color:#fff; margin:1em 0; }
#footer .copywrite                      { float:right; }
#footer ul                              { padding:0;  }
#footer ul li                           { display:inline-block; border-left:1px solid #F1690E;margin-left:15px; background:transparent;}
#footer ul li:first-child               { border:0 none; padding:0; margin:0; }
 
.newsfeed                               { margin:1em 0; padding:0; }
.newsfeed li                            { border-top:1px solid #F1690E; padding:5px 5px 0; margin:5px 0 0; background:transparent; }
.newsfeed li:first-child                { border:0 none; padding-top:0; margin:0; }
.newsfeed li p                          { margin:0;	}

.gallery-list ul                       { margin:0; padding:0;  }
.gallery-list ul li                    { float:left; width:140px; padding:7px; text-align:center; background:transparent;  }
.gallery-list ul li:hover              { background:#F1690E }

.album-list h3                         { border-top: 2px solid #F1690E; padding-top: 1em; margin-top: 2em }
.album-list ul                         { margin:1em 0; padding:0;  }
.album-list ul li                      { background:transparent; width:140px; padding:7px;float:left;  }
.album-list ul li:hover                { background:#4B4B4B; color:#fff; } 
.album-list ul li:hover p em            { color:#ccc }
.album-list ul li p em                 { display:block; font-weight:bold; font-size:0.917em; color:#4B4B4B; }
 
.pagination                             { margin:1em 0; text-align: center;}
.pagination ul                          { margin: 0; padding:0; }
.pagination ul li                       { display:inline-block; margin:0 3px; padding: 4px 7px; background-image:none; }
.pagination ul li:hover,
.pagination ul li.current               { background:#F1690E; }
.pagination ul li a                     { color:#4B4B4B; display:block;  width: 100%; font-weight:bold; }
.pagination ul li a:hover,
.pagination ul li.current a             { color:#fff; }
.pagination ul li.arrow a               { background:url(../images/pagination-arrow.png) top left; width:13px; height:20px;}
.pagination ul li.arrow:hover           { background-color:transparent; }
.pagination ul li.next a                { background-position: top right; }
.pagination ul li.arrow:hover a         { background-image: url(../images/pagination-arrow-on.png) }
.pagination ul li.disable:hover a       { background-image:url(../images/pagination-arrow.png); }



.roster-table                           { width:100%; margin:4em 0 2em;}
.roster-table th                        { background:url(../images/topnav-bg.jpg) repeat-x left top; color:#fff;}
.roster-table th, 
.roster-table td                        { padding:3px 6px; }
.roster-table td                        { border:1px solid #ccc;}
.roster-table tr:nth-child(2n+1) td       { background:url(../images/sbRowBg.gif) repeat-x top center}

.carousel                               { position:relative; background:url(../images/roster-bg.jpg) no-repeat; }
.carousel ul                            { width:3000px; margin:0; padding:0;}
.carousel ul li                         { list-style:none outside none; padding:0; margin:0; float:left; width:620px; height:282px; background:transparent;} 
.carousel ul li .wrap-li                { position:relative; }
.carousel ul li a                       { color:#F1690E; text-decoration:none;}
.carousel ul li a:hover                 { color:#ccc; }
.carousel ul li img                     { max-height:100%; max-width:100%; }
.carousel .carousel-control             { border: 0 none; cursor: pointer; display: block; height: 48px; line-height: 999px; overflow: hidden; text-indent: -9999px; vertical-align: middle; width: 34px; position:absolute; top:120px; z-index:10; }
.carousel .carousel-next                { background: url(../images/player_arrow_rt.png) no-repeat; right:10px; }
.carousel .carousel-previous            { background: url(../images/player_arrow_lt.png) no-repeat; left:10px; }
.carousel .carousel-next:hover          { background-image: url(../images/player_arrow_rt-hover.png); }
.carousel .carousel-previous:hover      { background-image: url(../images/player_arrow_lt-hover.png); }
.carousel .disabled, 
.carousel .disabled:hover               { cursor: default; opacity: 0.1;}
.carousel ul li .lt                     { position:absolute; left:50px; top:20px; width:280px; }
.carousel ul li .rt                     { position:absolute; right:50px; top:20px; width:280px; height:240px;  }
.carousel ul li .rt .img-wrap           { width:100%; height:100%; overflow:hidden; text-align:center; line-height:240px;}
.carousel ul li .lt h4                  { text-align:center;  }
.carousel ul li .lt a:hover             { color:#000;}
.carousel ul li .lt table               { margin-top:3em; font-weight:bold;}
.carousel ul li .lt table td            { padding:0 10px 10px 0; width:113px;}
.carousel ul li .lt table tr td:first-child     { text-align:right; width:50%; }
.carousel ul li .lt table td span       { background:url(../images/stats-bar-bg.png) no-repeat left center; display:block; width:100%;}
.carousel ul li .lt table td[rowspan] { border:2px solid #222; background:#fff; text-align:center; vertical-align:middle; font-size:1.3em;  }
.agile_carousel img.photo               { width:662px; /*height:316px;*/ }
.agile_carousel .thumb img              { height:43px; width:76px; }

/* bug fixes */
.rtcol .box .whitewrap .content         { padding:2px; }
.breadcrumbs   { padding:0; margin:0;display:inline-block; margin-left:5px; }
.breadcrumbs li 				{ float:left; margin-right:5px; color:#fff; }
.breadcrumbs li a:hover			{ color:#fff; }

.faq li p:first-child			{ font-weight:bold; }
.faq .ans				{ margin-bottom:1em; display:none; }
