{% load feincms_tags %}
{{ feincms_page}}
<div class="box fullpromo">
{{ request.get_full_path }}
	 <h3>{{ content.title|upper }}</h3>
	 <div class="whitewrap">
	   
	    <ul class="newsfeed">
	        {% for new in news %}
            <li>
	            <h4><a href="{{ new.get_absolute_url_latest }}">{{ new.headline }}</a></h4>
	            <p class="datetime">{{ new.pub_date|date:'d-m-Y H:i' }}</p>
	            <p><a href="{{ new.get_absolute_url_latest }}">{{ new.summary|truncatechars:50 }}</a></p>
	        </li>
            {% endfor%}
	    </ul>
	      
	 </div>
</div>
